*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(71,109,147,1);
    color: white;
}
aside{
    background-color: rgba(144,94,65, 1);
    color: white;
}

main{
    background-color: rgba(153,127,40, 1);
    color: white;
}
footer{
    background-color: rgba(71,109,147,1);
    color: white;
}

